$link-color: #FFA500;

/************** Add To CArt ******************/
.bluebtn{
  margin: 10px;
}

.bluebtn > button{
  color: #ffffff;
  text-transform: capitalize;
  text-align: center;
  border-radius: 30px;
  background-color: #008cff;
  padding: 15px;
  width: 100%;
}

/************** Books List Index (All Books page) ******************/
.item-list{
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #dadada;
}

.item-list-thumbnail{
  display: flex;
  width: 20%;
}
.item-list-thumbnail img{
  width: 75px;
  height: 100px;
}

.item-list-info{
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: baseline;
  color: #ffffff;
  padding-left: 10px;
  width: 80%;
}

.item-list-info > a{
  color: $link-color;
  text-decoration: none;
}

.cart-add{
  position: absolute;
  bottom: 10px;
  right: 10px;
}

/************** View Books Details (Books show page) ******************/
.book-view{
  margin: 0;
  display: flex;
  color: #ffffff;
  flex-direction: column;
}

.book-view-thumb{
  width: 100%;
}

.book-view-thumb > img{
  width: 100%;
  height: 500px;
}

.book-view-info{
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 0px 10px;
}

.book-view-info-item > span{
  font-size: 1.5rem;
  font-weight: bold;
}

.book-view-description{
  padding: 10px 10px 10px 10px;
}

.book-view-description > p{
  display: flex;
  align-content: stretch;
}

.book-view-edit{
  padding: 10px 10px 10px 10px;
}

.book-view-edit > a {
  color: #686868;
  font-weight: bold;
}
