.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999;
  display: flex;
  flex-direction: column;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  padding: 0 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #f1f1f1;
  color: black;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.nav-labels{
  display: flex;
  width: 100%;
}

.nav-labels ul{
  list-style: none;
  color: #f2f2f2;
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 0;
  margin: 0;
}

.nav-labels ul li{
  display: flex;
  justify-content: space-around;
}

