{{!-- 
<div>
    <input type='file' id='file-field' onchange={{ action "sendCover"}} />
</div>


<hr> --}}
<button onclick={{action "cov"}}>Click</button>
{{cover-image sendCover=(action "sendCover") }}
<hr>
{{#each model as |image|}}
      <div class="">
          {{#if image.cover.url}}
            <img src={{image.cover.url}} alt="Book Cover">
          {{/if}}
        
      </div>
{{/each}} 
