
<div class="container-fluid">
    <div class="row">
        <div class="col-5 col-md-2">
            <div class="portrait">
                <img src="/image/sgt.jpeg"  width="100%" height="100%" alt="">
            </div>
        </div>
        <div class="col-7 col-md-10">
            <div>
                <h5>Small Great Things</h5>
            </div>
        </div>
    </div>

        <div class="row">
        <div class="col-5 col-md-2">
            <div class="portrait">
                <img src="/image/bk3.jpg"  width="100%" height="100%" alt="">
            </div>
        </div>
        <div class="col-7 col-md-10">
        </div>
    </div>
        <div class="row">
        <div class="col-5 col-md-2">
            <div class="portrait">
                <img src="/image/sgt.jpeg"  width="100%" height="100%" alt="">
            </div>
        </div>
        <div class="col-7 col-md-10">
        </div>
    </div>
        <div class="row">
        <div class="col-5 col-md-2">
            <div class="portrait">
                <img src="/image/sgt.jpeg"  width="100%" height="100%" alt="">
            </div>
        </div>
        <div class="col-7 col-md-10">
        </div>
    </div>

    
</div>
