
<div class="alert alert-secondary">
    Hi {{model.fname}}! Here is a look at your catalog
</div>


<table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
      </tr>
    </thead>

    <tbody>
        {{#each model.books as |book|}}
          <tr>
            <td>{{#link-to 'books.book.show' book }} {{book.title}}{{/link-to}}</td>
            <td>{{#link-to 'books.book.show' book }} {{book.author}}{{/link-to}}</td>
          </tr>
        {{/each}}
    </tbody>
</table>
