Hi: {{model.fname}}

{{link-to 'Add to your Catolog' 'books.new'}}

<div class="container-fluid">
    <h4>Your Account</h4>
    
    <section>
        <h5>Orders</h5>
        <div>
            <p> {{#link-to 'users.catalog'}} Your Catalog {{/link-to}}</p>
            <p>Your Orders</p>
            <p>Subscribe & Save</p>
            <p>Service Request</p>
        </div>
    </section>

    <section>
        <h5>Account Settings</h5>
        <div>
            <p>Login & Security</p>
            <p>Notifications</p>
            <p>Payment Methods</p>
        </div>
    </section>
</div>