
<div class="profile">
    <section class="profile-item">
        <h6>Manage your Orders</h6>
        <ul>
            <li>Your Orders</li>
            <li>Subscribe & Save</li>
            <li>Service Request</li>
        </ul>
    </section>

    <section class="profile-item">
        <h6>Manage your listings </h6>
        <ul>
            <li> {{#link-to 'users.catalog'}} Your Catalog {{/link-to}}</li>
            <li>{{#link-to 'books.new'}} Add to your Catolog {{/link-to}}</li>
            <li>Payment Methods</li>
        </ul>
    </section>

    <section class="profile-item">
        <h6>Account Settings</h6>
        <ul>
            <li>Login & Security</li>
            <li>Notifications</li>
            <li>Payment Methods</li>
        </ul>
    </section>

    <div class="logout">
        <span onclick={{action "logOut"}}>Logout</span>
    </div>
</div>