<div>
    
    <input type='file' id='file-field' onchange={{action "sendCover"}} />
    
</div>
<hr>
{{#each model as |image|}}
      <div class="">
          {{#if image.cover.url}}
            <img src="http://localhost:3000{{image.cover.url}}" alt="">
          {{/if}}
        
      </div>
{{/each}} 
