
  <div class="search">{{book-search}}</div>

  <header class="banner">
      <div>
        <img src="logo/txttide.png" alt="">
      </div>
  </header>


  {{category-list
    title = "Sale"
    slogan = "Back to school Sale"
    books = model.novels
  }}

  {{category-list
    title = "College"
    slogan = "Back to school Sale"
    books = model.college
  }}

