
  {{book-search}}

  <header class="banner d-flex justify-content-center align-items-center">
      <div>
        <img src="logo/txttide.png" width="200px" height="200px" alt="">
      </div>
  </header>

<div class="container-fluid">

    <h6>New Novels</h6>
    <section class="row">
      {{#each model.novels as |book|}}
        {{!-- <div class="col-6"> <img src={{book.thumbnail}} alt="Book Cover" class="index-img"> </div> --}}
        <div class="col-6"> <img src="image/cat.png" alt="Book Cover" class="index-img"> </div>
      {{/each}}
    </section>
    

    {{!-- <h6>College</h6>
    <section class="">
      {{#each model.college as |book|}}
         <img src={{book.thumbnail}} alt="Book Cover">
      {{/each}}
    </section> --}}
</div>
