<div class="container">
       <div class="card card-container">
           <img id="profile-img" class="profile-img-card" src="../../logo/txttide.png" />

           <form onsubmit={{action "signIn"}} class="form-signin">

              {{input type="text" value=email class="form-control" placeholder="Email address"}}

               {{input type="password" value=password class="form-control" placeholder="Password"}}

               <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>

           </form>
           <a href="#" class="forgot-password">
               Forgot the password?
           </a>
       </div>
   </div>
